{% extends "base.html" %}

{% block announce %}
  <html>
    <div class="extra_HEADER row mx-auto">
      <a class="a_Sou_Cliente"><img src="https://migrate-company.github.io/PortalInvoiCyArgentina/img/img_btn.png">YA SOY CLIENTE</a>
    </div>
    <div class="HEADER_flags">
      
      <a href="https://desenvolvedores.migrate.info" target="_blank"><img src="https://migrate-company.github.io/PortalInvoiCyArgentina/img/Brasil-flag-48px.png" alt="Brasil"></a>
      <a href="https://invoicy.com.uy/ES/Invoicy/news/" class="" target="_blank"><img src="https://migrate-company.github.io/PortalInvoiCyArgentina/img/uruguai-flag-48px.png" alt="Uruguay"></a>
      <a href="https://migratepy.movidesk.com/kb/pt-br/article/99326/downloads" target="_blank"><img src="https://migrate-company.github.io/PortalInvoiCyArgentina/img/Paraguai-flag-48px.png" alt="Paraguay"></a>
      <a href="#"><img src="https://migrate-company.github.io/PortalInvoiCyArgentina/img/Argentina-flag-48px.png" alt="Argentina"></a>
    </div>
  </html>
{% endblock %}


{% block footer %}
  <html>
    <div class="extra_FOOTER">
      <div class="abrir_Chamado">
        <h1>¿No encontraste lo que necesitabas?</h1>
        <p>Envíe un correo electrónico a <b>soporte@migrate.info</b> o abra un ticket usando el botón a continuación:</p>
        <a class="abrir_Chamado_BTN" target="_blank" href="https://migrate.movidesk.com/Account/Login"><img src="https://migrate-company.github.io/PortalInvoiCyArgentina/img/paper_airplane.png"><div class="abrir_Chamado_BTN_TXT">ABRIR UN TICKET</div></a>
      </div>
      <a href="https://migrate.info/"><img class ="MigrateIMG" src="https://migrate-company.github.io/PortalInvoiCyArgentina/img/Logo Migrate.png"></a>
    </div>
  </html>  
  {{ super() }}
{% endblock %}