{% extends "base.html" %}

{% block announce %}
  <html>      
      <a href="https://desenvolvedores.migrate.info" target="_blank"><img src="https://migrate-company.github.io/PortalInvoiCyArgentina/img/Brasil-flag-48px.png" alt="Brasil"></a>
      <a href="https://migrate-company.github.io/PortalInvoiCyUruguay/" class="" target="_blank"><img src="https://migrate-company.github.io/PortalInvoiCyArgentina/img/uruguai-flag-48px.png" alt="Uruguay"></a>
      <a href="https://migrate-company.github.io/PortalInvoICyParaguay/" target="_blank"><img src="https://migrate-company.github.io/PortalInvoiCyArgentina/img/Paraguai-flag-48px.png" alt="Paraguay"></a>
      <a href="https://migrate-company.github.io/PortalInvoiCyArgentina/"><img src="https://migrate-company.github.io/PortalInvoiCyArgentina/img/Argentina-flag-48px.png" alt="Argentina"></a>
    </div>
  </html>
{% endblock %}


{% block footer %}
<html>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
>

  <div class="footer">
    <!-- Logo -->
    <div class="footer-logo">
      <a href="https://migrate.info/">
        <img src="https://migrate-company.github.io/PortalInvoiCyArgentina//img/Artigos/logo_migrate_branca.png" alt="Logo Migrate">
      </a>
    </div>

    <!-- Links Úteis -->
    <div class="footer-section">
      <h3>ENLACES ÚTILES</h3>
      <ul>
        <li><a href="https://migrate.info/blog/">Blog</a></li>
        <li><a href="https://migrate.info/">Nosotros</a></li>
      </ul>
    </div>

    <!-- Suporte -->
    <div class="footer-section">
      <h3>SOPORTE</h3>
      <ul>
        <li><a href="https://migrate.movidesk.com/Account/Login?ReturnUrl=%2f">Abrir un ticket</a></li>
        <li><a href="https://privacy21.cloud/painel-empresa/3510770211-central">Central de Privacidad</a></li>
      </ul>
    </div>

    <!-- Contato -->
    <div class="footer-contact">
      <h3>HABLAR CON NOSOTROS</h3>
      <p>+55 11 4240 6556</p>
      <div class="social-icons">
        <a href="https://www.instagram.com/migratebrasil/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.facebook.com/migratebrasil" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.linkedin.com/company/migratebrasil/posts/?feedView=all" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://www.youtube.com/@migratebrasil" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://github.com/migrate-company" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="https://open.spotify.com/show/4AqLu0LrWeicQQegdDSzG8?si=748b41c6cbe84920&nd=1" target="_blank"><i class="fa-brands fa-spotify"></i></a>
      </div>
    </div>
    
  </div>
</html>
{{ super() }}
{% endblock %}